**문제1) 연산기호를 이용해 수식으로 표현해보고 그 결과를 확인하여라.**

* 정수 25와 정수 12를 더하시오.
* 정수 13에서 정수 19를 빼시오.
* 정수 92과 부동소수점 8.0 을 곱하시오.
* 부동소수점 81.5을 부동소수점 2.0으로 나누시오.
* 정수 7를 5로 나눴을 때, 몫을 구하시오.
* 정수 100을 정수 7로 나눈 나머지를 구하시오.
* 정수 3의 세제곱을 구하시오.

In [2]:
25+12

37

In [3]:
13-19

-6

In [4]:
92*8.0

736.0

In [5]:
81.5/2.0

40.75

In [8]:
7//5

1

In [9]:
100%7

2

In [10]:
3**3

27

**문제2) 다음 각각의 자료형을 말하고, 코드를 작성하여 결과를 확인하여라.**

* `3`
* `3.0`
* `'3'`
* `'3.0'`
* `"3"`
* `"3.0"`

In [11]:
type(3)

int

In [12]:
type(3.0)

float

In [15]:
type('3.0')

str

In [14]:
type("3")

str

In [16]:
type("3.0")

str

**문제3) 우유 가격은 820원이고, 아이스크림 가격은 1500원이다. 아이스크림은 3개이상 구입시 5%를 할인해준다. 우유 2개와 아이스크림 3개를 구입할 때 지불해야 하는 가격을 변수를 활용하여 코드로 작성하여라.**

In [52]:
milk = 820

icecream = 1500

print(2*milk + 3*icecream*0.95)

5915.0

**문제4) 1㎡는 0.3025평이다. 84㎡는 몇 평인가? 반대로 30평은 몇 ㎡인가?**

In [51]:
block = 0.3025

pyeong = 1/0.3025

print(block*84)

print(pyeong*30)

25.41
99.17355371900827

**문제5) 100만원을 월이율 3%인 예금에 1년간 복리로 은행에 맡겼다. 1년후에 받는 돈은 얼마인지를 확인하는 코드를 작성하여라. 출력된 결과는 아래와 같다.**

> 1년 후 받는 원금 + 이자는 OOO원입니다.

In [55]:
money = 100*(1 + 0.03)**12

print(money)

142.57608868461793

**문제6) 문자열 연산을 이용하여 다음의 실행결과가 나오도록 코드를 작성하여라**

(1)

```
안녕하세요. 안녕하세요. 안녕하세요.
```

(2)
```
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
```

In [62]:
a = "안녕하세요.\n"

b = "안녕하세요. "

print(b*3)

print(a*5)

안녕하세요. 안녕하세요. 안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.

**문제7) `dogs`와 `cats` 두 개의 변수가 다음과 같이 선언되었다.**  
`dogs, cats = '12', '7'`  

(1) `dogs`와 `cats` 변수에 할당된 값의 자료형을 확인하여라.  
(2) 강아지가 고양이보다 몇 마리 더 많은지 확인하는 코드를 작성하여라. 출력된 결과는 아래와 같은 형식이다.
> 강아지가 고양이보다 n 마리 더 많다.

In [64]:
dogs = "12"

cats = "7"

difference = int(dogs) - int(cats)

print('There are {0} more dogs than cats.'.format(difference))

There are 5 more dogs than cats.

**문제8) 다음 문제에 답하여라.**   

`colors = 'red blue yellow'`  

1) `colors`에서 `b`를 추출하는 코드를 작성하라.

2) `colors`에서 `low`를 추출하는 코드를 작성하라.

3) `colors`에서 `due`를 추출하는 코드를 작성하라.

In [20]:
colors = 'red blue yellow'

colors[4:5]

'b'

In [24]:
colors = 'red blue yellow'

colors[12:]

'low'

In [25]:
colors = 'red blue yellow'

colors[5:8]

'lue'

**문제9) 다음 문제에 답하여라.**  

1) `'12345' * 3` 한 것을 변수 `nums`에 할당하라.

2) `nums`에서 `111`을 추출하는 코드를 작성하라.

3) `nums`에서 `555`을 추출하는 코드를 작성하라.

In [32]:
nums = '12345' * 3

nums[0:1] + nums[5:6] + nums[10:11]

'111'

In [33]:
nums = '12345' * 3

nums[4:5] + nums[9:10] + nums[14:15]

'555'