**문제1) data에 있는 값을 오름차순으로 정렬하세요**

In [ ]:
data = [2, 4, 3, 1, 5, 10, 9]

In [2]:
data = [2, 4, 3, 1, 5, 10, 9]

data.sort()

print(data)

[1, 2, 3, 4, 5, 9, 10]

**문제2) movie_rank에 '배트맨' 을 추가해보세요**

In [ ]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

**문제3) movie_rank에서 '럭키'를 삭제해보세요.**

In [ ]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [11]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

del movie_rank[-2]

In [12]:
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

**문제4) 숫자 1 이 저장된 튜플을 생성해보세요.**

**문제5) 다음 코드를 실행해보고 오류가 발생하는 원인을 설명해보세요.**

In [14]:
t = (1, 2, 3)
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

**문제6) 변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 해보세요.**

In [ ]:
t = ('a', 'b', 'c')

**문제7) 아래 딕셔너리에서 메로나 가격을 출력해보세요.**

In [16]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

In [17]:
ice['메로나']

1000

**문제8) 아래 딕셔너리에서 메로나를 삭제해보세요.**

In [ ]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

**문제9) 다음 코드를 실행해보고 오류가 발생하는 원인을 설명해보세요.**

In [18]:
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']

KeyError: '누가바'

**문제10) 다음의 딕셔너리로부터 key 값으로만 구성된 리스트를 생성해보세요.**

In [ ]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

**문제11) icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력해보세요.**

In [20]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

In [27]:
sum(list(icecream.values()))

6700

**문제12) 아래의 new_product 딕셔너리를 다음 icecream 딕셔너리에 추가해보세요.**

In [ ]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}