In [3]:
money = False

if money:
    print("택시를 타고 가라")
    
else:
    print("걸어가라")

걸어가라

In [5]:
x = 3
y = 4

if x<y:
    print('x is smaller than y')

else:
    pass

x is smaller than y

In [6]:
bool(0 or 1)

True

In [7]:
bool(not 0)

True

In [8]:
bool(not 1)

False

In [9]:
1 in [1, 2, 3]

True

In [10]:
0 in [1, 2, 3]

False

In [11]:
0 not in [1, 2, 3]

True

In [12]:
pocket = ['cellphone']
if 'money' in pocket:
    print('I have money in the pocket')
elif 'paper' in pocket:
    print('I have paper in the pocket')
else:
    print('I have nothing...')

I have nothing...

In [17]:
score = 100

if score>60:
    message = 'success'
else:
    message = 'fail'
    
print(f'result is : {message}')

result is : success

In [ ]:
treeHit = 0
while treeHit < 10:
    treeHit+=1
    print(f"나무를 {treeHit}번 찍었습니다.")
    if treeHit == 0:
        print("나무 넘어갑니다")

In [30]:
numlist = 0
while numlist < 10:
    numlist+=1
    if numlist %3 == 1:
        print(f"{numlist}, ")
    if numlist %3 == 2:
        print(f"{numlist}, ")

1,
2,
4,
5,
7,
8,
10,

In [31]:
numlist = 0
while numlist < 10:
    numlist+=1
    if numlist %3 == 0:
        pass
    else:
        print(f"{numlist},")

1,
2,
4,
5,
7,
8,
10,

In [33]:
coffee = 10
money = 300
while money:
    coffee -= 1
    print("남은 커피는 %s 잔 입니다" %coffee)
    if coffee == 0:
        print("이제 커피 없어요")
        break

남은 커피는 9 잔 입니다
남은 커피는 8 잔 입니다
남은 커피는 7 잔 입니다
남은 커피는 6 잔 입니다
남은 커피는 5 잔 입니다
남은 커피는 4 잔 입니다
남은 커피는 3 잔 입니다
남은 커피는 2 잔 입니다
남은 커피는 1 잔 입니다
남은 커피는 0 잔 입니다
이제 커피 없어요

In [37]:
star = 0
#starlimit = 1000

while True:
    star += 1
    print(star * "*")
    if star == 5:
        break

*
**
***
****
*****

In [38]:
a = [(1, 2), (3, 4), (5, 6)]
for num_tuple in a:
    print(num_tuple)

(1, 2)
(3, 4)
(5, 6)

In [40]:
a = [(1, 2), (3, 4), (5, 6)]
for (first, last) in a:
    print(first, last)

1 2
3 4
5 6

In [41]:
scores = [90, 25, 67, 45, 80]

In [42]:
for (index, score) in enumerate(scores):
    print(index, score)

0 90
1 25
2 67
3 45
4 80

In [56]:
scores = [90, 25, 67, 45, 80]

for (index, score) in enumerate(scores): 
    if score > 60:
        print("Student %s, you passed the test by %s points" %(index, score))
    else:
        print("Student %s, you failed the test by %s points" %(index, score))

Student 0, you passed the test by 90 points
Student 1, you failed the test by 25 points
Student 2, you passed the test by 67 points
Student 3, you failed the test by 45 points
Student 4, you passed the test by 80 points

In [57]:
for i in range(1, 5):
    print(i)

1
2
3
4

In [59]:
for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [63]:
def add(a, b):
    return a+b

In [64]:
add(3, 4)

7